*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;

    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: rgb(183, 183, 253);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
}


h2 span{
    color: blue;
}

#toggler{
    display: none;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    margin-right: 20px;
}

button{
    border: none;
    background-color: blue;
    padding: 15px;
    color: whitesmoke;

    border-radius: 10px;
}

button:hover{
    opacity: 50%;
    color: black;
}

button a{
    color: white;

    text-decoration: none;
}

a:hover{
    color: black;
}

main{
    margin: 5rem auto;
    width: 90%;
    

}

main h2{
    text-align: center;
    font-size: 2.5rem;
}
main p{
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

#sec-cont{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 2rem;
    justify-content: center;

    margin-top: 4rem;
}

#sec-cont section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{ 
    position: fixed;
    bottom:0;
    width: 100%;
    

}
footer div {
   text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#fname, #lname, #phoneNo, #email, #gender, #bday, #favColor, #password{
    margin-bottom: 2rem;
    padding: 1rem 4rem 1rem 1rem;
    width: 300px;
}

#favColor{
    padding: 0;
}

#login{
    border: none;
    border-radius: 10px;

    color: whitesmoke;
    background-color: blue;

    margin-top: 5rem;
    padding: 0.5rem 2rem;
}


@media (max-width: 760px){
    #toggler{
        display: block;

        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 2;

        width: 50px;
        height: 50px;
        opacity: 0;

        cursor: pointer;
    }

    .ham-cont{
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 1;

        width: 45px;
        height: 45px;

        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ham, 
    .ham::before, 
    .ham::after{

        position: absolute;

        display: block;
        width: 30px;
        height: 3px;

        background-color: black;

        border-radius: 10px;

        transition: transform ease-in 0.5s;
    }

    .ham::before{
        content: '';
        top: -8px;
    }

    .ham::after{
        content: '';
        top: 8px;
    }

    #toggler:checked + .ham-cont .ham::before{
        transform: rotate(50deg);
        top: 0;
    }

    #toggler:checked + .ham-cont .ham{
        background-color: rgba(240, 248, 255, 0);
    }

    #toggler:checked + .ham-cont .ham::after{
        transform: rotate(-50deg);
        top: 0;
    }

    #menu{
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        margin: auto;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 6rem;
    }

    #menu li{

        width: 100%;
        margin: auto;
        padding: 1rem;
        border: 1px gray solid;
        text-align: center;

        opacity: 0;

        transition: opacity 0.5s;

        background: linear-gradient(to left, white,  rgb(183, 183, 253) );
    }

    #toggler:checked ~ #menu li{
        opacity: 1;
    }


    #sec-cont{
        grid-template-columns: auto;
    }
}