*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Big Shoulders Display', cursive, 'Lexend Deca', sans-serif;

    font-size: 15px;

    /* height: 100%; */
    background-color: hsl(0, 0%, 95%);
    padding: 100px;

  
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cont{
    width: 250px;
    height: 50%;
   

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    text-align: left;
}

.card{
    margin: auto;
    padding: 50px;
    /* height: 500px; */
     
}

.orange{
    background-color: hsl(31, 77%, 52%);
}

.cyan{
    background-color: hsl(184, 100%, 22%);
}

.green{
    background-color: hsl(179, 100%, 13%);
}

 header h2{
    margin: 20px 0;
    color: hsl(0, 0%, 95%);
}

.card-body{
    max-height: 200px;
}

main p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 20px;
}

footer{
    margin-top: 60px;
}

footer button{
    border: 3px solid  hsl(0, 0%, 95%) ;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
footer button:active{
    border: 3px solid  hsl(0, 0%, 95%) ;
    background-color: inherit;
    color: hsl(0, 0%, 95%);
}
.orange-btn{
    color: hsl(31, 77%, 52%);
}

.cyan-btn{
    color: hsl(184, 100%, 22%);
}

.green-btn{
    color:  hsl(179, 100%, 13%);
}

@media (max-width:768px) {
    section{
        flex-direction: column;
    }
}